@use '@/theme/imageViewer';
@use '@/theme/breakpoints';

//*breakpoints.$md <= 

.container {
    @extend %viewer;

    @media (width >= breakpoints.$lg) {
        height: 50px;
        width: 230px;
    }

    @media (width < breakpoints.$lg) {
        height: 40px;
        width: 185px;
    }

    /*@media (width < breakpoints.$md) {
        height: 25px;
        width: 115px;
    }*/ 

}