@use "@/theme/color";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: color.$primaryDark;
    border-radius: 8px;
}

.icon {
    color: color.$surface;
}