@use '@/theme/imageViewer';
@use '@/theme/breakpoints';

.container {
    @extend %viewer;

    width: 330px;
    height: 510px;

    /*@media (width >= breakpoints.$lg) {
        height: 50px;
        width: 230px;
    }

    @media (width < breakpoints.$lg) {
        height: 40px;
        width: 185px;
    }*/

}