@use "@/theme/global";
@use "@/theme/color";

.container {
    display: flex;
    flex-direction: column;
    gap: global.$xsGap;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a:link {
        color: cornflowerblue;
    }

    a:visited {
        color: slateblue;
    }
}