@use '@/theme/color';

%base {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    @extend %base;
    background-image: 
        linear-gradient(to Right, color.$primaryLight, color.$primaryDark);
    padding: 20px;
}

%sideItem {
    width: 25%;
}

%centerItem {
    width: 50%;
}

.titleItem {
    @extend %sideItem;
}

.buttonList {
    @extend %base;
    @extend %centerItem;
    gap: 32px;
    justify-content: center;
}

.modeItem {
    @extend %sideItem;
    display: flex;
    justify-content: end;
}

