@use '@/theme/color';

$primaryFont: Arial, Helvetica, sans-serif;

%text {
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    text-justify: auto;

    @media (prefers-color-scheme: light) {
        color: color.$onSurface;
    }

    @media (prefers-color-scheme: dark) {
        color: color.$onSurfaceVariant;
    }

}

%nonSelectable {
    @extend %text;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonText1 {
    @extend %nonSelectable;
    font-size: 20px;
    font-weight: 500;
    color: color.$onSurfaceVariant;
}

.buttonText2 {
    @extend %nonSelectable;
    color: color.$onSurface;
}

.bodyText1 {
    @extend %text;
}

.bodyText1Light {
    @extend %text;
    color: color.$onSurfaceVariant;
}

.bodyText1Dark {
    @extend %text;
    color: color.$onSurface;
}

.title1 {
    @extend %text;    
    font-size: 28px;
    font-weight: 700;
}

.title1Dark {
    @extend %text;    
    font-size: 28px;
    font-weight: 700;
    color: color.$onSurface;
}

.title2 {
    @extend %text;    
    font-size: 20px;
    font-weight: 600;
}


.title6 {
    @extend %text;    
    font-size: 18px;
    font-weight: 600;
}
