@use '@/theme/color';

$primaryFont: Arial, Helvetica, sans-serif;

%text {
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: 400;
    color: color.$onSurface;
    text-align: justify;
    text-justify: auto;
}

%nonSelectable {
    @extend %text;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonText1 {
    @extend %nonSelectable;
    font-size: 20px;
    font-weight: 500;
    color: color.$onSurfaceVariant;
}

.buttonText2 {
    @extend %nonSelectable;
}

.bodyText1 {
    @extend %text;
}

.title1 {
    @extend %text;    
    font-size: 28px;
    font-weight: 700;
}

.title2 {
    @extend %text;    
    font-size: 20px;
    font-weight: 600;
}


.title6 {
    @extend %text;    
    font-size: 18px;
    font-weight: 600;
}
