@use "@/theme/global";

.container {
    @extend %centeredDiv;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
}

.titleContainer {
    padding: global.$lgPadding;
}

.contentContainer {
    width: 100%;
    height: 100%;
    max-width: global.$maxwidth;
}