@use "@/theme/global";
@use "@/theme/color";

.container {
    @extend %centeredDiv;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    height: auto;

    @media (prefers-color-scheme: light) {
        background-color: color.$surface;
    }

    @media (prefers-color-scheme: dark) {
        background-color: color.$surfaceVariant;
    }

}

.titleContainer {
    padding: global.$lgPadding;
}

.contentContainer {
    width: 100%;
    height: 100%;
    max-width: global.$maxwidth;
}