@use "@/theme/global";

.list {
    display: grid;
    gap: global.$smGap;

    @media (width >= 1080px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media (width < 1080px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    @media (width < 768px) {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(7, auto);
    }

}