@use "@/theme/color";
@use "@/theme/global";

.container {
    @extend %centeredDiv;
    flex-direction: column;
    justify-content: start;
    gap: global.$xsGap;
}

.banner {
    @extend %centeredDiv;
    width: 320px;
    height: 160px;
    background-color: color.$secondaryLight;
    border: 2px solid color.$secondaryDark;
    border-radius: global.$radius;
    box-shadow: global.$shadow;
}

.proofListContainer {
    width: 320px;
    display: flex;
    flex-direction: row;
}

%proofList {
    width: 50%;
    display: flex;
}

.leftProofList {
    @extend %proofList;
    padding-left: 10px;
    justify-content: start;
}

.rightProofList {
    @extend %proofList;
    padding-right: 10px;
    justify-content: end;
}