@use "@/theme/color";
@use "@/theme/global";

.container {
    @extend %centeredDiv;
    flex-direction: column;
    justify-content: start;
}

.banner {
    @extend %centeredDiv;
    width: 320px;
    height: 160px;
    background-image: color.$primaryGradient;
    border-radius: global.$radius;
}