$primaryDark: #EC6A0E;
$primaryLight: #F18B02;
$primaryGradient: 
    linear-gradient(to Right, $primaryLight, $primaryDark);

$onPrimary: #FFFFFF;

$secondaryDark: #9E5B34FF; //#9e5b34;
$secondaryLight: #FAECE3FF; //#CCA48C;

$surface: #FFFFFF;
$onSurface: #272727;

$surfaceVariant: #272727;
$onSurfaceVariant: #FFFFFF;