$lgPadding: 20px;
$mdPadding: 16px;

$lgGap: 64px;
$mdGap: 32px;
$smGap: 24px;

$xsGap: 10px;

$maxwidth: 1440px;
$radius: 10px;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

%centeredDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
}