@use '@/theme/imageViewer';
@use '@/theme/breakpoints';
@use '@/theme/global';

.image {
    @extend %viewer;
    box-shadow: global.$shadow;
    border-radius: global.$radius;
    width: 330px;
    height: 510px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: global.$smGap;
}