@use '@/theme/global';

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: global.$maxwidth;
} 