@use '@/theme/global';
@use '@/theme/color';

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    height: 100%;
    width: 100%;
    align-self: center;
    overflow-y: auto;
}