@use '@/theme/global';
@use '@/theme/color';

.container {
    @extend %centeredDiv;
    padding: global.$lgPadding;
    height: 100%;
    background: linear-gradient(90deg, color.$surface 50%, color.$secondaryLight 0%);
    gap: global.$lgGap;
}

%item {
    display: flex;
    align-items: center;
    width: 50%;
}

.leftItem {
    @extend %item;
    justify-content: end;
}

.rightItem {
    @extend %item;
    justify-content: start;
}