@use '@/theme/global';
@use '@/theme/color';
@use '@/theme/breakpoints';

.container {
    @extend %centeredDiv;
    padding: global.$lgPadding;
    flex-grow: 1;
    gap: global.$lgGap;
    height: auto;

    @media (width >= breakpoints.$md) {
        @media (prefers-color-scheme: light) {
            background: linear-gradient(90deg, color.$surface 50%, color.$secondaryLight 0%);
        }

        @media (prefers-color-scheme: dark) {
            background: linear-gradient(90deg, color.$surfaceVariant 50%, color.$secondaryLight 0%);
        }
    }

    @media (width < breakpoints.$md) {
        flex-direction: column;
    }

    @media (max-width: 767px) {
        @media (prefers-color-scheme: light) {
            background: linear-gradient(0deg, color.$secondaryLight 50%, color.$surface 0%);
        }

        @media (prefers-color-scheme: dark) {
            background: linear-gradient(0deg, color.$secondaryLight 50%, color.$surfaceVariant 0%);
        }
    }
}

%item {
    display: flex;
    align-items: center;
    width: 50%;
    overflow-y: visible;

    @media (width < breakpoints.$md) {
        width: 100%;
        justify-content: center;
    }
}

.leftItem {
    @extend %item;

    @media (width >= breakpoints.$md) {
        justify-content: end;
    }
}

.rightItem {
    @extend %item;

    @media (width >= breakpoints.$md) {
        justify-content: start;
    }
}