@use '@/theme/global';
@use '@/theme/color';
@use '@/theme/breakpoints';

.container {
    @extend %centeredDiv;
    padding: global.$lgPadding;
    height: 100%;
    background: linear-gradient(90deg, color.$surface 50%, color.$secondaryLight 0%);
    gap: global.$lgGap;

    @media (width < breakpoints.$md) {
        height: auto;
        flex-direction: column;
        background: linear-gradient(0deg, color.$secondaryLight 50%, color.$surface 0%);
    }

}

%item {
    display: flex;
    align-items: center;
    width: 50%;

    @media (width < breakpoints.$md) {
        width: 100%;
        justify-content: center;
    }
}

.leftItem {
    @extend %item;

    @media (width >= breakpoints.$md) {
        justify-content: end;
    }
}

.rightItem {
    @extend %item;

    @media (width >= breakpoints.$md) {
        justify-content: start;
    }
}