@use '@/theme/color';
@use '@/theme/global';

.container {
    width: 100%;
    background-color: color.$surfaceVariant;
    padding: global.$lgPadding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (width < 768px) {
        flex-direction: column;
        gap: global.$smGap;
    }   
}