@use '@/theme/color';
@use '@/theme/global';

.container {
    width: 100%;
    background-color: color.$surfaceVariant;
    color: color.$onSurfaceVariant;
    padding: global.$lgPadding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}