@use '@/theme/color';
@use '@/theme/breakpoints';

%base {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    @extend %base;
    background-image: 
        linear-gradient(to Right, color.$primaryLight, color.$primaryDark);
    padding: 20px;

    @media (width < breakpoints.$md) {
        flex-direction: column;
        gap: 10px;
    }
}

%sideItem {
    @media (width >= breakpoints.$md) {
        width: 25%;
    }

    @media (width < breakpoints.$md) {
        width: 50%;
    }
}

%centerItem {
    @media (width >= breakpoints.$md) {
        width: 50%;
    }

    @media (width < breakpoints.$md) {
        width: 100%;
    }
}

.titleItem {
    @extend %sideItem;
}

.buttonList {
    @extend %base;
    @extend %centerItem;

    @media (width >= breakpoints.$md) {
        gap: 32px;
        justify-content: center;
    }

    @media (width < breakpoints.$md) {
        justify-content: space-between;
    }

}

.modeItem {
    @extend %sideItem;
    display: flex;
    justify-content: end;
}

.titleModeContainer {
    @extend %base;
    width: 100%;
}

